<div class="checklist-title">
  ВЛ 10 кВ ТП №265- ТП № 240
</div>
<div class="row">
<span>Вид обхода</span>
  <input type="text">
</div>
<div class="row">
<span>Обход произведен</span>
  <input type="number">
  До опоры
  <input type="number">
</div>
<div class="row">
<span>Объект</span>
  <input type="text">
</div>
<div class="row">
<span>Дефекты</span>
  <input type="text">
</div>
<div class="row">
<span>Объект</span>
  <input type="text">
</div>
<div class="row">
<span>Дефекты</span>
  <input type="text">
</div>
