<div class="topic">
  <div class="row row_offset-middle">
    <div class="col col_2">
      <div class="topic__img"></div>
    </div>
    <div class="col col_8">
      <div class="topic__name text text_bold text_overflow">Управление технологическим процессом. Цифровая сеть ...</div>
      <div class="row">
        <div class="col col_10">
          <div class="row row_nowrap text text_overflow">
            <div class="topic__hashtag">
              #управление
            </div>
            <div class="topic__hashtag">
              #управление
            </div>
            <div class="topic__hashtag">
              #управление
            </div>
          </div>
        </div>
        <div class="col col_2">
          <div class="text text_right">
            12.11
          </div>
        </div>
      </div>
    </div>
    <div class="col col_2 row row_right">
      <div class="topic__controls">
        <mat-icon>bookmark_border</mat-icon>
      </div>
    </div>
  </div>
</div>
