<div class="row row_nowrap notification">
  <mat-tab-group class="custom-tab-group">
    <mat-tab label="все">
      <div class="tab-content">
        <div class="notification__empty">
          Уведомлений нет
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Непрочитанные">
      <div class="tab-content">
        <div class="notification__empty">
          Уведомлений нет
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Новости форума">
      <div class="tab-content">
        <div class="notification__empty">
          Уведомлений нет
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Мои предложения">
      <div class="tab-content">
        <div class="notification"></div>
        <div class="notification__empty">
          Уведомлений нет
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
