<div class="row row_nowrap">
  <mat-tab-group class="custom-tab-group">
    <mat-tab label="все">
      <div class="tab-content">
        все
      </div>
    </mat-tab>
    <mat-tab label="Непрочитанные">
      <div class="tab-content">
        Непрочитанные
      </div>
    </mat-tab>
    <mat-tab label="Новости форума">
      <div class="tab-content">
        Новости форума
      </div>
    </mat-tab>
    <mat-tab label="Мои предложения">
      <div class="tab-content">
        Мои предложения
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
