<div class="page__wrapper">
  <div class="user">
    <div class="row row_nowrap row_start">
      <div class="col">
        <div class="user__avatar"></div>
      </div>
      <div class="col user__information">
        <div class="user__name">Сидоров Александр  Валерьечич</div>
        <div class="user__bio">
          <p>1981 г.р.</p>
          <p>Образование высшее</p>
          <p>Электромонтер по ремонту воздушных линий электропередачи 5 разряда (Южный РМЭС)</p>
          <p>Стаж работы с 2002г.</p>
          <p>тел. 8 (920) 567 -23-44</p>
        </div>
      </div>
    </div>
    <div class="row row_offset-big">
      <div class="col_4 text text_center">
        <mat-icon>list_alt</mat-icon>
        <div>12</div>
        Моих тем
      </div>
      <div class="col_4 text text_center">
        <mat-icon>message</mat-icon>
        <div>79</div>
        Комментариев
      </div>
      <div class="col_4 text text_center">
        <mat-icon>bookmark</mat-icon>
        <div>27</div>
        Коллекция
      </div>
    </div>
  </div>
</div>
