<div class="page__wrapper">
  <div class="row row_offset-big">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Количество записей</mat-label>
        <mat-select value="option1">
          <mat-option value="option1">Последние 5 активных</mat-option>
          <mat-option value="option2">Последние 15 активных</mat-option>
          <mat-option value="option3">Последние 25 активных</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="forum row row_nowrap row_start row_offset-big">
    <div class="col col_8 col_xs-12 col_offset-4">
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
      <app-topic></app-topic>
    </div>
    <div class="col col_4 col_xs-12 col_offset-4">
      <div class="position position_sticky">
        <mat-selection-list class="custom-selection-list custom-selection-list_xs-row" [multiple]="false">
          <mat-list-option>Мои предложения</mat-list-option>
          <mat-list-option>Создать предложение</mat-list-option>
          <mat-list-option>Все предложения</mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
</div>

