<div class="row row_right row_offset-big">
  <div class="col-12">
    <h1 class="text text_primary text_center ">
      Форум
    </h1>
  </div>
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Количество записей</mat-label>
      <mat-select value="option1">
        <mat-option value="option1">Последние 5 активных</mat-option>
        <mat-option value="option2">Последние 15 активных</mat-option>
        <mat-option value="option3">Последние 25 активных</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

