<div class="login">
  <div class="login__body">
    <mat-toolbar class="row row_between" color="primary">
      <span *ngIf="ready">Логин</span>
      <mat-progress-bar *ngIf="!ready"
                        mode="indeterminate">
      </mat-progress-bar>
    </mat-toolbar>
    <form class="login__form">
      <mat-form-field class="login__field">
        <mat-label>Логин</mat-label>
        <input matInput [(ngModel)]="loginForm.login"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="login__field">
        <mat-label>Пароль</mat-label>
        <input matInput
               type="password"
               [(ngModel)]="loginForm.password"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div class="login__field row row_between">
        <mat-checkbox color="primary">
          Запомнить меня
        </mat-checkbox>
        <button mat-raised-button
                color="primary"
                (click)="auth()"
                [disabled]="!ready">
          Войти
        </button>
      </div>
    </form>
  </div>
</div>
