<div class="topic">
  <div class="row row_offset-middle">
    <div class="col col_2">
      <div class="topic__img"></div>
    </div>
    <div class="col col_8">
      <a [routerLink]="['/topic', topic.id]" class="topic__name link text text_bold text_overflow">
        {{topic.name}}
      </a>
      <div class="row">
        <div class="col col_10">
          <div class="row row_nowrap text text_overflow">
            <div class="topic__hashtag">
              #управление
            </div>
            <div class="topic__hashtag">
              #управление
            </div>
            <div class="topic__hashtag">
              #управление
            </div>
          </div>
        </div>
        <div class="col col_2">
          <div class="text text_right">
            {{topic.date}}
          </div>
        </div>
      </div>
    </div>
    <div class="col col_2 row row_right">
      <div class="topic__controls">
        <button class="icon icon_button" (click)="topic.favorite = !topic.favorite">
          <mat-icon>{{topic.favorite ? 'bookmark' : 'bookmark_border'}}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
