.chat {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;

  &__dialog {
    width: 100%;
    overflow-y: auto;
  }

  &__message-body {
    display: flex;
    align-items: center;
  }

  &__message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &_from {
      .chat__message-body {
        flex-direction: row-reverse;
      }

      .chat__date {
        text-align: right;
      }
      .chat__text {
        border-radius: 10px 10px 0 10px;
      }
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    background-image: url('/assets/img/icons/chat-avatar.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    max-width: 70%;
    height: 100%;
    padding: 16px;
    background-color: #f3f3f3;
    border-radius: 10px 10px 10px 0;
    box-shadow: 2px 2px 5px #e0e0e0;
  }

  &__date {
    font-size: 12px;
    padding: 0 16px;
    color: grey;
    margin-top: 20px;
  }
}
