.topic {
  &__img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__counter {
    padding: 0 20px;
  }

  &__hashtag{
    color: gray;
  }

  &__date{
    padding-left: 20px;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: $small-screen) {
    &__img {
      width: 48px;
      height: 48px;
    }
  }
}

.forum {
  padding: 16px;

  h1 {
    margin-bottom: 0;
  }

  &__menu {
    padding: 0 10px;
  }

  @media screen and (max-width: $small-screen){
    flex-direction: column-reverse;

    &__menu {
      overflow-x: auto;
      padding: 0;
    }
  }
}
