.topic {
  &__img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/img/icons/line.png');
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: $small-screen) {
    &__img {
      width: 48px;
      height: 48px;
    }
  }
}

.forum {
  h1 {
    margin-bottom: 0;
  }

  @media screen and (max-width: $small-screen){
    flex-direction: column-reverse;
  }
}
