.tasks {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__block {
    width: 30%;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid project-color(text-light);
  }

  &__empty {
  }

  &__block-name {
    color: project-color(text);
  }

  &__block-description {
    font-size: 12px;
    color: project-color(text-light);
    width: 100px;
  }

  &__block-data {
  }

  &__block-status {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &_success {
      background-color: project-color(sucess);
    }

    &_warning {
      background-color: project-color(warrning);
    }

    &_error {
      background-color: project-color(error);
    }
  }
}
.order{
  max-width: 1024px;
  margin: 10px auto;
  padding: 0 10px;

  &__column {
    text-align: center;
    padding: 0 10px;
  }
}
