.user {
  &__avatar {
    width: 80px;
    height: 80px;
    background-position: 50%;
    background-size: contain;
    background-image: url("/assets/img/icons/avatar.png");

    &_small {
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    color: project-color();
    font-weight: bold;
    font-size: 20px;
  }

  &__information {
    margin-left: 16px;
  }
}
