.user {
  &__avatar {
    width: 80px;
    height: 80px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/img/icons/avatar.png");

    &_small {
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    color: project-color();
    font-weight: bold;
    font-size: 20px;
  }

  &__bio {
    margin-top: 10px;
  }

  &__information {
    margin-left: 16px;
  }
}

.rating {
  padding: 16px;

  &__user {
    width: 100%;
    max-width: 600px;
  }

  &__user-name {
    padding: 16px;
    font-size: 20px;
  }

  &__user-position {
    margin-top: 10px;
    color: gray;
    font-size: 16px;
  }
}
