.text {
  &_bold {
    font-weight: bold;
  }

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &_primary {
   color: project-color('primary');
  }

  &_secondary {
    color: project-color('secondary');
  }

  &_nowrap {
    white-space: nowrap;
  }

  &_overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.position {
  &_relative {
    position: relative;
  }

  &_absolute {
    position: absolute;
  }

  &_sticky {
    position: sticky;
    top: 0;
  }
}

.link {
  display: block;
}

.overflow {
  &_x-auto {
    overflow-x: auto;
  }
}
