.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  &_between {
    justify-content: space-between;
  }

  &_around {
    justify-content: space-around;
  }

  &_center {
    justify-content: center;
  }

  &_col {
    flex-direction: column;
  }

  &_right {
    justify-content: flex-end;
  }

  &_left {
    justify-content: flex-start;
  }

  &_start {
    align-items: flex-start;
  }

  &_end {
    align-items: flex-end;
  }

  &_nowrap {
    flex-wrap: nowrap;
  }

  &_offset-small {
    margin-top: 6px;
  }

  &_offset-middle {
    margin-top: 12px;
  }

  &_offset-big {
    margin-top: 24px;
  }
}

.col {
  width: auto;

  &_offset {
    @for $i from 1 through 12 {
      &-#{$i} {
        padding: 0 #{2 * $i}px;
      }
    }
  }

  @for $i from 1 through 12 {
    &_#{$i} {
      width: 100% / 12 * $i;
    }
  }

  @media screen and (max-width: $small-screen){
    @for $i from 1 through 12 {
      &_xs-#{$i} {
        width: 100% / 12 * $i;
      }
    }
  }
}

