.icon {
  &_big {
    width: 64px;
    height: 64px;
  }

  &_button {
    border: none;
    background-color: transparent;
  }

  &_small {
    width: 32px;
    height: 32px;
  }

  &_offset {
    padding: 0 10px;
  }

  &_line {
    background-image: url("/assets/img/icons/line.png");
  }
}
