<div class="app">
  <app-header [title]="'Россести'"></app-header>
  <div class="page">
    <div class="page__content">
      <mat-tab-group class="custom-tab custom-tab_wide custom-tab_header-sticky">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="row row_center">
              Профиль
              <mat-icon class="icon icon_offset">person_pin</mat-icon>
            </div>
          </ng-template>
          <app-dashboard></app-dashboard>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="row row_center">
              Форум
              <mat-icon class="icon icon_offset">feedback</mat-icon>
            </div>
          </ng-template>
          <app-forum></app-forum>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="row row_center">
              База знаний
              <mat-icon class="icon icon_offset">book</mat-icon>
            </div>
          </ng-template>
          <app-data-base></app-data-base>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="row row_center position position_relative">
              Уведомления
              <div class="position position_relative">
                <mat-icon class="icon icon_offset">
                  notification_important
                </mat-icon>
                <div class="position position_absolute notification-count">
                  1
                </div>
              </div>
            </div>
          </ng-template>
          <app-notifications></app-notifications>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
